.exh_badge_background {
    background-image:url('/techfuge_customisation/static/src/img/exhibitor_badge.jpg');
    background-size:250mm 350mm;
    width:250mm;
    height:350mm;
    margin-left: -1rem;
    margin-bottom: -1rem;
}

.contractor_badge_background {
    background-image:url('/techfuge_exhibitor_customisation/static/src/img/contractor_badge.jpg');
    background-size:250mm 350mm;
    width:250mm;
    height:350mm;
    margin-left: -1rem;
    margin-bottom: -1rem;
}
